* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    width: 100%;
    background-color: white;
}
nav {
    max-width: 1400px;
    margin: auto;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 120px;
    height: 54px;
    object-fit: contain;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}
nav a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

    transition: 0.3s;
}

nav ul a:hover {
    color: #0059ff;
}
.btn {
    background-color: #0059ff;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;

    transition: 0.3s;
}

.btn:hover {
    background-color: #003db3;
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

.hero {
    width: 100%;
    height: 500px;
    background-color: white;
}

.hero img {
    width: 50%;
    height: 100%;
    display: block;
    margin-left: auto;
}
div h1 {
    color: #000000;
}