* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
nav {
    margin: auto;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 120px;
    height: 54px;
    object-fit: contain;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}
nav a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

    transition: 0.3s;
}

nav ul a:hover {
    color: #0059ff;
}
.btn {
    background-color: #0059ff;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;

    transition: 0.3s;
}

.btn:hover {
    background-color: #003db3;
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    background-color: black;
    align-items: center;
}
.hero h1{
    color : #fff;
    margin-top: -90px;
    margin-left: 60px;
    font-size: 100px;
}
.life{
    color:#034BFF;
}
.sign {
    color :#C7F64A;
}
.hero h2{
    color: #fff;
    margin-top: -60px;
    margin-left: 70px;

}
.hero p{
    color: #fff;
    margin-left: 70px;
}
.btn1 {
    text-decoration: none ;
    background-color: #0059ff;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 60px;
    transition: 0.3s;
    margin-top: -10%;
}
.btn2 {
    text-decoration: none;
    color: white;
    border: solid;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 50px;
}
.itme {
    color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: beige;
    margin-top: 100px;
}
.hero img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.itme1{
    display: flex;
    font-weight: bold;
}
.stastique{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
.logo2{
    color: #034BFF;
    white-space: nowrap;
}
.sta{
    display: flex;
}
