* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
nav {
    margin: auto;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 120px;
    height: 54px;
    object-fit: contain;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}
nav a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

    transition: 0.3s;
}

nav ul a:hover {
    color: #0059ff;
}
.btn {
    background-color: #0059ff;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;

    transition: 0.3s;
}

.btn:hover {
    background-color: #003db3;
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
    background-color: black;
    align-items: center;
}
.hero h1{
    color : #fff;
    margin-top: -90px;
    margin-left: 60px;
    font-size: 100px;
}
.life{
    color:#034BFF;
}
.sign {
    color :#C7F64A;
}
.hero h2{
    color: #fff;
    margin-top: -60px;
    margin-left: 70px;

}
.hero p{
    color: #fff;
    margin-left: 70px;
}
.btn1 {
    text-decoration: none ;
    background-color: #0059ff;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 60px;
    transition: 0.3s;
    margin-top: -10%;
}
.btn2 {
    text-decoration: none;
    color: white;
    border: solid;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 50px;
}
.itme {
    color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: beige;
    margin-top: 100px;
}
.hero img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 10px;
    gap: 20px;
}

.stat {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    border-right: 1px solid #9ca3af;
}

.stat:last-child {
    border-right: none;
}

.stat h2 {
    font-size: 32px;
    color: #0b1220;
    margin-bottom: 5px;
}

.stat p {
    font-size: 13px;
    color: #526078;
}
.icon {
    font-size: 30px;
    font-weight:bold ;
    color: #034BFF;
}
.text {
    display: flex;

}
.photos {
    flex:1;
    display: flex;
    transform: rotate(5deg);
    display: relative;
}
.campus{
    display: flex;
}
.p1 {
    color: #034BFF;
    font-size: 5px;
    font-size: 10px;
}
.photos p{
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding: 8px 5px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    margin-top: -30px;
    position: absolute;

}
div h2 {
    font-size: x-large;
}
.campus a {
    text-decoration: none;
    background-color: #0059ff;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
}